#!/usr/bin/env sh
# -*- coding: utf-8 -*-

if test -d "$PWD/texmf/"; then
	export TEXMFHOME="$PWD/texmf/${TEXMFHOME:+":$TEXMFHOME"}"
fi

# NOTE(dparo): Not needed, both locally and on Github CI
# export TEXINPUTS="$PWD:$PWD/texmf/tex/latex//:"
