#!/usr/bin/env sh
# -*- coding: utf-8 -*-

if test -d "$PWD/texmf/"; then
	if test "$TEXMFHOME" != ""; then
		export TEXMFHOME="$PWD/texmf/:$TEXMFHOME"
	else
		export TEXMFHOME="$PWD/texmf/"
	fi
fi

# NOTE(dparo): Not needed, both locally and on Github CI
# export TEXINPUTS="$PWD:$PWD/texmf/tex/latex//:"
